[build]
base    = "."
publish = "./public"
command = "zola build"

[build.environment]
ZOLA_VERSION = "0.10.1"

[context.deploy-preview]
command = "zola build --base-url $DEPLOY_PRIME_URL"

[[headers]]
for = "/*"
[headers.values]
Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"

