<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Rewrite listing page" stopProcessing="true">
                  <match url="^page/([0-9]+)" />
                  <action type="Rewrite" url="page_{R:1}.html" />
              </rule>
              <rule name="Rewrite post page" stopProcessing="true">
                  <match url="^post/(.+-.+-.+)/(.+)" />
                  <action type="Rewrite" url="posts/{R:1}-{R:2}.html" />
              </rule>
              <rule name="Rewrite static pages" stopProcessing="true">
                  <match url="^([^\/\.]+)$" />
                  <action type="Rewrite" url="pages/{R:1}.html" />
              </rule>
          </rules>
      </rewrite>
  </system.webServer>
</configuration>
