<meta name="keywords" content="Jakub Fijałkowski,fiołek,fiolek,blog,programming,coding infinity,coding,infinity,haskell,net,dotnet,personal">
<meta name="description" content="Coding Infinity - personal blog of Jakub Fijałkowski">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@fiolek_">
$if(title)$
<meta name="twitter:title" content="$title$ - Coding Infinity">
$else$
<meta name="twitter:title" content="Coding Infinity">
$endif$
$if(meta_description)$
<meta name="twitter:description" content="$meta_description$">
$else$
<meta name="twitter:description" content="Personal blog of Jakub Fijałkowski">
$endif$
<meta name="twitter:url" content="http://codinginfinity.me$url$">

<meta name="og:locale" content="en_US">
<meta name="og:site_name" content="Coding Infinity">
<meta name="og:url" content="http://codinginfinity.me$url$">
<meta name="og:image" content="http://codinginfinity.me/images/infinity-180.png">
$if(meta_description)$
<meta name="og:type" content="article">
<meta name="og:title" content="$title$ - Coding Infinity">
<meta name="og:description" content="$meta_description$">
<meta name="og:article:published_time" content="$isoDate$">
<meta name="og:author" content="Jakub Fijałkowski">
$else$
<meta name="og:type" content="website">
<meta name="og:title" content="Coding Infinity">
<meta name="og:description" content="Personal blog of Jakub Fijałkowski">
$endif$