$for(posts)$
<article class="posts-item">
    <header>
        <h2><a href="$url$">$title$</a></h2>
        <span class="by-line"><time datetime="$isoDate$">$date$</time>$if(tags)$, tags: $tags$$endif$</span>
    </header>
    <section class="post-content">
        $teaser$
    </section>
</article>
$endfor$

$if(hasPaginator)$
    <nav class="pagination" role="navigation">
        $if(previousPageUrl)$
            <a href="$previousPageUrl$" class="page-item">&laquo;</a>
        $else$
            <span class="page-item">&laquo;</span>
        $endif$

        $for(pages)$
            $if(isCurrentPage)$
                <span class="page-item">$pageNo$</span>
            $else$
                <a href="$pageLink$" class="page-item">$pageNo$</a>
            $endif$
        $endfor$

        $if(nextPageUrl)$
            <a href="$nextPageUrl$" class="page-item">&raquo;</a>
        $else$
            <span class="page-item">&raquo;</span>
        $endif$
    </nav>
$endif$