{% extends "index.html" %}

{% block title %}{{ page.title | safe }} - {{ config.title }}{% endblock title %}

{% block metadata %}
    {% set meta_description = page.summary | striptags | split(pat='\n') | join(sep='') %}
    <meta name="twitter:title" content="{{ page.title | safe }} - {{ config.title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title | safe }} - {{ config.title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:article:published_time" content="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S")}}">
{% endblock metadata %}

{% block content %}
    <article id="post-page">
        <header>
            <h2>{{ page.title }}</h2>
            <span class="by-line">
                <time datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S")}}">{{ page.date | date(format="%B %e, %Y") }}</time>
                {{ macros::tags(taxonomies=page.taxonomies) }}
            </span>
        </header>
        <section class="post-content">
            {{ page.content | safe }}
        </section>
    </article>
{% endblock content %}
